/*
 * Size of google map.
 */
#map-canvas {
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#htree {
    float: left;
    margin-left: 10px;
    border-style: ridge;
    border-width: 5px;
    padding: 5px;
}

#map-page {
    white-space: nowrap;
}