#hsearch {
    width: 60%;
    margin: 5px;
    padding-left: 15px;
}

.htree {
    float: left;
    margin-left: 10px;
    padding: 5px;
    min-width: 230px !important;
    width: 45% !important;
    overflow-y: scroll;
    max-height: 800px;
}

/*.jstree li.jstree-open > a.jstree-anchor > i.jstree-checkbox,
.jstree li.jstree-closed > a.jstree-anchor > i.jstree-checkbox { display:none; }*/