.show-organization-checkbox {
    float: left;
}

.organization_list {
    float: left;
    padding-top: 10px;
    max-height: 400px;
    overflow-x: hidden;
    width: 100%;
    overflow-y: scroll;
}